<div class="container mtop">
    <button class="btn btn-primary" [routerLink]="['/add']" >Agregar</button>
    <table class="table table-striped">
    <thead>
     <tr>
     <th scope="col">Album Id</th>
     <th scope="col">Id</th>
     <th scope="col">Title</th>
     <th scope="col"></th>
     <th scope="col">URL</th>
     </tr>
    </thead>
    <tbody>
     <tr *ngFor="let item of data" >
      <th scope="row">{{ item.albumId }}</th>
      <td>{{ item.id }}</td>
      <td>{{ item.title }}</td>
      <td><img ng src="{{item.url}}"></td>
      <td>
       <a [routerLink]="['/detail', item.id]">Detalle</a>
      </td>
      <td>
      <img style="height: 100px; width: 100px;"src="https://via.placeholder.com/600/92c952"/>
      </td>
     </tr>
    </tbody>
    </table>
    </div>